.container{
    width: 900px;
    margin: auto;
}
.header{
    height: 200px;
    display: flex;
}
.header img{
    width: 150px;
}
.nav ul{
   display: flex;
}
.nav ul li {
    list-style: none;
    margin-left: 20px;
}
.home{
    background-color: aqua;
}
.contact{
    background-color:red ;
}
.jadwal{
    background-color: blue;
}
.jurusan{
    background-color: brown;
}
.tentang{
    background-color: green;
}
.sejarah{
    background-color: yellow;
}